{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    
      "es2015-rollup",
    "react",
    "stage-0"
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": [
        "env",
        "es2015",
        "react",
        "stage-0"
      ],
      "plugins": [
        "transform-decorators-legacy",
        "syntax-async-functions",
        "transform-runtime",
        [
          "transform-regenerator",
          {
            "async": true,
            "asyncGenerators": true
          }
        ]
      ]
    }
  }
}
